.debate-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(179, 179, 241);
  }
  
  .speaker-queue ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .speaker-queue li {
    margin-bottom: 5px;
  }
  
  .add-speaker input {
    width: 100%;
    margin-bottom: 10px;
  }
  