.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px ;
    padding-right: 30px;
    background-color: #ececee; 
    

    

}
h1{
    justify-content: center;
    
}