.meeting-preparation-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(179, 179, 241);
  }
  
  .agenda textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .documents input[type='file'] {
    margin-bottom: 10px;
  }
  
  .documents ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .documents li {
    margin-bottom: 5px;
  }
  