


.member-container {
  max-width: auto;
  margin: 0 auto;
  padding: 16px;
  background-color: rgb(79, 79, 143);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

button {
  background-color: rgb(3, 3, 56);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: rgb(3, 3, 56);
  color: white;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 16px;
  justify-content: center;
}
.member-form-body {
  background-color: rgba(223, 215, 215, 0.1);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  width: 500px;
}

