.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(179, 179, 241);
}

.member-form-body {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #5e4caf;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
